<section>
  <nav>
    <a @click="changeStage('creator')">Create new vote!</a>
    <a>Check your votes!</a>
  </nav>
  <main>
    <div v-if='stage === creator'>
      <h3>CREATE YOUR NEW VOTE!</h3> 
      <form  @submit.prevent="createNewVote">
        <div class="formFields">
          <label>Vote Name</label>
          <input type="text" v-model="voteName" required />
        </div>
        
        <div class="formFields">
          <label>Save for future?</label>
          <input type="checkbox" v-model="forFuture" required />
        </div>

        <div>
          <h3>User in this vote is:</h3>

          <div>
            <label>PUBLIC</label>
            <input type="checkbox" v-model="voteType" value="private"/>
          </div>

          <div>
            <label>PRIVATE</label>
            <input type="checkbox" v-model="voteType" value="private"/>
          </div>
        </div>

        <button @click="addAnswer">Add new answer</button>
        <div v-for="ans in answerQuentity">
          <label>answer {{ans}}</label>
          <input type="text" v-model=`answers${ans}` required />
        </div>

        <v-snackbar
          v-model="snackbar">
        {{ snackMessage }}
          <template v-slot:actions>
            <v-btn
              color="red"
              variant="text"
              @click.native="snackbar = false"
            >
              Close
            </v-btn>
          </template>
        </v-snackbar>

      </form>
    </div>
  </main>
</section>
