
/* The message box is shown when the user clicks on the password field */
#message {
display:none;
color: #fff;
position: relative;
padding: 20px;
margin: 250px 0 0 50px;
float:left;
}

#message p {
padding: 10px 35px;
font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
color: green;
}

.valid:before {
position: relative;
left: -35px;
content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
color: red;
}

.invalid:before {
position: relative;
left: -35px;
content: "✖";
}

.emailError {
    color:red;
}

.email {
    color: black;
}

form {
    float: left;
    min-width: 400px;
    max-width: 650px;
    margin-left: 40%;
}

.checkboxType {
    width: 15%;
    display: inline-block;
}
