
Button {
    margin: 20px;
}

.radioType {
    width: 15%;
    display: inline-block;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: lightblue;
}


h5 {
    color: black;
}