<section>
  <div class="side">
    
  </div>

  <main>
    <h1>Welcom in the VOTE WORLD!</h1>
    <p>On this site you can make voted and you can vote for give your opinion about EVRYTHING!</p>
  
    <h2>IMPORTANT</h2>
    <p>
      <b>Votes can create ONLY autoryzation users!!!</b>
    </p>

    <h3>How work this web site?</h3>
    <p>You can create vote for what ever ideas. You have a stream and you need fast opinion yours fans? No problem you can make it with this site. </p>
    <p>If you need votes for marketing cels we can make it on with me too!</p>
  
    <h3>You decide what secure have vote on this site!</h3>
    <p>You can select:</p>
    <ul>
      <li>Mode only for login user</li>
      <li>Mode only for not login user</li>
      <li>Hybryt mode login and login user</li>
      <li>One vote for user</li>
      <li>Mulitiple vote for user</li>
      <li>Time for give vote from 1 min to 30 days!</li>
    </ul>
  </main>
  <div class="side"></div>

</section>
