<section>
  <div class="side">
    <h1>AVAKADABRA asdbu absiodh aoisdh ioahsd ih</h1>
  </div>

  <main>
    <h1>Welcom in the VOTE WORLD!</h1>
    <p>On this site you can make voted and you can vote for give your opinion about EVRYTHING!</p>
  
    <h3>How work this web site?</h3>
    <p>You can create vote for what ever ideas. You have a stream and you need fast opinion yours fans? No problem you can make it with this site. </p>
    <p>If you need votes for marketing cels we can make it on with me too!</p>
  
    <h3>You decide what secure have vote on this site!</h3>
    <p>You can select między innymi:</p>
    <ul>
      <li>Mode only for login user</li>
      <li>Mode olny for not login user</li>
      <li>Hybryt mode login and login user</li>
      <li>One vote for user</li>
      <li>Mulitiple vote for user</li>
      <li>Time for give vote from 1 min to 30 days!</li>
    </ul>
  </main>
  <div class="side"></div>

</section>
