
<section class="vote-cast">

  <div v-if="stage == 'first'" class="category" v-for="(cat, index) in category">
      <a :title="cat.title" @click="changeStage(cat.name, index)">
        {{ cat.signature }}
      </a>
  </div>

  <div v-if="stage != 'first'" id="selectVote">
    <Paginator :rows="15" :totalRecords="120" :rowsPerPageOptions="[15, 25, 50]"></Paginator>
    <div>
      <header>
        <h3> {{ selectedCategory.headerTitle }} </h3>
      </header>
      <main>

        <table>
          <tbody>
            <tr>
              <th>NAME</th>
              <th>GIVE VOTE!</th>
              <th>RESULTS IS PUBLIC?</th>
              <th>RESULTS</th>
            </tr>
            <tr v-for="(vote, index) in votes">
              <td>{{vote.name}}</td>
              <td>
              <img src="vote-svgrepo-com.svg" alt="give vote" title="Give vote!" @click="openVote(index)"/>
            </td>
            <td :style="{'background-color': vote.active ? 'green': 'red'}"></td>
            <td v-if="vote.publicResults || vote.userId === userId">
              <img src="look-into-telescope-see-watch-view-svgrepo-com.svg" alt="look results" title="look results" @click="openResultsVote(vote)"/>
            </td>
            <td v-else>
              <img src="no-access-svgrepo-com.svg" alt="you havent access" title="you havent access" @click="onAcess(vote.name)"/>
            </td>
            </tr>
          </tbody>
        </table>

        <Dialog v-model:visible="isDialog" modal header="GIVE YOUR OPINION" :style="{ width: '25rem' }"> 
          <h2> {{ votes[selectVoteIndex].name }} </h2>
          <div id="questions">
            <div>
              <p> Question: {{ currentQuestionIndex + 1 }} of  {{ allQuestionsIndexs }} </p>
              <button @click="previousQuestion">
                <img src="arrow-left-svgrepo-com.svg" />
              </button>
              <button @click="nextQuestion">
                <img src="arrow-right-svgrepo-com.svg"/>
              </button>
            </div>
            <h4> {{ votes[selectVoteIndex].questions[currentQuestionIndex].name }} </h4>
            <div v-for="q in votes[selectVoteIndex].questions[currentQuestionIndex].answers">
              <input type="radio" v-model="answer" class="radioType" @change="saveAnswer" :value="q">
              {{q}}
            </div>
          </div>
          <div class="flex justify-end gap-2">
            <Button label="SAVE AND CLOUSE" @click="saveVoteResult"></Button>
            <Button label="BACK" @click="isDialog = false"></Button>
          </div>
        </Dialog>

        <Dialog v-model:visible="resultsDialog" modal header="VOTE RESULTS" :style="{ width: '25rem' }"> 
          <h2> {{ voteName }} </h2>
          <div id="questions">
            <div>
              <p> Question: {{ currentQuestionIndex + 1 }} of  {{ allQuestionsIndexs }} </p>
              <button @click="previousQuestion">
                <img src="arrow-left-svgrepo-com.svg" />
              </button>
              <button @click="nextQuestion">
                <img src="arrow-right-svgrepo-com.svg"/>
              </button>
            </div>
            <h4> {{ questions[currentQuestionIndex].name }} </h4>
            <div v-for="results in voteResults?.results">
              <div v-if="results.questionName == questions[currentQuestionIndex].name">
                {{ results.answerName }} all votes: {{ results.quantity }}
              </div>
            </div>
          </div>
          <div class="flex justify-end gap-2">
            <Button label="BACK" @click="resultsDialog = false"></Button>
          </div>
        </Dialog>

      </main>
    </div>
  </div>
</section>
