<section class="menu-container">
  <!-- Desktop Navigation -->
  <nav class="desktop-nav">
    <RouterLink to="/" class="routerLink">HOME</RouterLink>
    <RouterLink to="/votes" class="routerLink">VOTES</RouterLink>
    <RouterLink to="/createVotes" class="routerLink">CREATE VOTE</RouterLink>
    <a @click="logout" class="routerLink">LOGOUT</a>
    <ThemeSwitcher />
  </nav>

  <!-- Mobile Navigation -->
  <div class="mobile-nav">
    <div class="mobile-header">
      <span class="logo-text">VOTE WORLD</span>
      <div class="mobile-actions">
        <ThemeSwitcher />
        <Button icon="pi pi-bars" @click="toggleMobileMenu" text severity="secondary" />
      </div>
    </div>
    
    <Drawer v-model:visible="mobileMenuVisible" header="Menu" position="right">
      <div class="mobile-menu-links">
        <RouterLink to="/" @click="mobileMenuVisible = false">HOME</RouterLink>
        <RouterLink to="/votes" @click="mobileMenuVisible = false">VOTES</RouterLink>
        <RouterLink to="/createVotes" @click="mobileMenuVisible = false">CREATE VOTE</RouterLink>
        <a @click="logout" class="logout-link">LOGOUT</a>
      </div>
    </Drawer>
  </div>
</section>
